

.h1 {
    background-color: #F8EDE3;
    color: #640f4fa6;
    height: 50px;
    width: 100%;
    text-align: left ;
    text-shadow: 0 0 3px #93c4d3, 0 0 5px #0000FF;
   
   
}
.vv{
  text-align: left;
  margin-left: 10px;
}

#vvv{
  text-align: right;
  margin-right: 10px;
}
.n1
{
  background-color: #ECCCB2;
  /* text-align: right; */
  color:#5c3232;
    margin-top: 0%;
    padding-top: 0%;
    height: 500px;
}
.aside{
  position: absolute;
  height: auto;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  height: 820px;

    }


.caro
{
  height: 670px;
  width:auto;
  margin-left: 50px;
  /* object-fit: cover; */

}

li {
    float: right;
    list-style: none;
    /* padding: 20px;
margin-right: 25px;*/
    font-size: 20px;
}

.n1 {
    background-color: #ECCCB2; 
    height: 50px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0%;

}

header{
  text-align: center;
}



.btn btn-primary{
  margin-left: 10px;
  /* background: rgba(250, 3, 3, 0.5); */
}

.offcanvas offcanvas-start{

  background: rgba(250, 3, 3, 0.5);
}

/* .n1{
    margin-top: 50px;
} */


/* #mySidenav{
    margin-top: 100px;
   
}
.sidenav  {
  position: absolute;
  top: 0;
  
  font-size: 36px;
  margin-left: 50px;
 
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  
  font-size: 36px;
  margin-left: 50px;
}
 
#main {
  transition: margin-left .5s;
  padding: 16px;
} */
.div1
{
  height: auto;
  width: 100%;
  margin-left: 20px;
}

 .f
 {
   text-align: center;
   text-transform: capitalize;
   color: #5c3232;
   background-color: #8ac0e4;
   border: 2PX SOLID ;
 }
#h {
    color: #7fb6d1;
    /* text-align: center; */
    /* margin-top: 50px; */
    height: 10px;
    width: 100%;
    background-color: #233142;
    position: absolute;
    left: 0;
    margin-top: 15px;
    /* margin-left: 0px; */
}
 .foot {
  background-color: #AC7088;
  color: #130406a6;
  height: 50px;
  width: 100%;
  position:absolute;



} 

.ul_foot {
    margin-right: 115px;
    height:50px;
}

.scroll {
    max-height: 400px;
    overflow-y: hidden;
    /* margin: 10px; */
    margin-top: 15px;
}

marquee{
    animation-delay: 1s;
    
}

/*   
  .sidenav s {
    height: 100%;
    opacity: 0.3;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1b0b0b;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #5c3232;
  } */
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }